@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-primary text-primary;
}

.rounded-div {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1290px] w-full mx-auto;
}
.rounded-coin-page {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1290px] w-full ;
}
.rounded-footer {
  @apply  border-secondary  rounded-2xl shadow-xl footer-div px-2 max-w-[1390px] w-full mx-auto;
}
.rounded-div-two {
  @apply rounded-2xl shadow-xl bg-primary px-2 max-w-[1290px] w-full mx-auto;
}
.rounded-div-three {
  @apply border border-secondary rounded-2xl shadow-xl bg-primary px-2 max-w-[1450px] w-full mx-auto;
}



.dark {
  --color-bg-primary: #0d1421;
  --color-bg-secondary: #393c40;
  --color-text-primary: #dbdbdb;
  --color-text-secondary: #e2e8f0;
  --color-text-accent: #744ac2;
  --color-bg-input: #4a5361;
  --color-bg-button: #81e6d9;
}

.light {
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #dcdfe3;
  --color-text-primary: #2d3748;
  --color-text-secondary: #4a5568;
  --color-text-accent: #2b6cb0;
  --color-bg-input: #edf2f7;
  --color-bg-button: #2b6cb0;
}


.dark .custom-div {
  background-color: #222531;
}

.light .custom-div {
  background-color: #dce4ec45;
}

.dark .footer-div{
background-color: #0d131e;
border: 1px solid #222531;
}

.light .footer-div{
background-color: #c8cfd745;
border: 3px solid #98bde345;
}

.cardshadow{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

:hover.cardshadowdark{
  box-shadow: rgba(201, 8, 235, 0.56) 0px 22px 70px 4px;
}

:hover.cardshadowlight{
  box-shadow: rgba(92, 214, 255, 0.56) 0px 22px 70px 4px;
}